@inherits LayoutComponentBase
<div class="root">
    <header>
        <div class="container">
            <h1>EventEase</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/">Events</a>
            </nav>
        </div>
    </header>

    <main class="container">
        @Body
    </main>

    <footer class="container">
        <small class="muted">&copy; EventEase</small>
    </footer>
</div>
